Project/Temp/UnityLockfile
Temp
Project/Project.userprefs

Project/Library/assetDatabase3

Project/Library/metadata/2d/2da2383faabc7ed47a1f872f40c1a350

Project/Library/metadata/50/50e09b94cdfa671479b44b4edd3ddaba

*.dll

*.mdb

Project/Library/ScriptAssemblies/Assembly-CSharp.dll

Project/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb

Project/Project-csharp.sln

Project/Project.sln

Project/Project.userprefs
